<div class="container">

    <form class="form-signin">
        <h2 class="form-signin-heading">Connexion</h2>
        <label for="pseudo" class="sr-only">Pseudo</label>
        <input type="text" id="pseudo" class="form-control" placeholder="Pseudo" required="" autofocus=""
               ng-model="vm.pseudo">
        <button class="btn btn-lg btn-primary btn-block"
                ng-click="vm.onLogin()">Se connecter
        </button>

        <div ng-if="vm.error" class="form-error">{{vm.error}}</div>

    </form>


</div>