<div class="container">

    <h1>Toutes les images</h1>

    <div ng-if="vm.error" class="form-error">{{vm.error}}</div>

    <div class="row" ng-repeat="picture in vm.pictures">
        <div class="col-md-2">
        </div>

        <div class="col-md-8">
            <img ng-src="{{picture.picture.image.url}}" alt="" fullscreen
                 class="img-thumbnail">
        </div>

        <div class="col-md-2">
        </div>

    </div>

</div>