<div class="container">

    <h1>Profil {{vm.user.Pseudo._}}</h1>

    <div class="row">
        <h2>Uploader une nouvelle image</h2>


        <form name="form" enctype="multipart/form-data">

            <div><input type="text" ng-model="vm.fileName" placeholder="Nom du fichier"/>

                <input type="file" ngf-select ng-model="file" name="file">
            </div>

            <div>
                <button type="submit" ng-click="vm.upload(file)" class="btn btn-primary">submit</button>
            </div>
        </form>

    </div>


    <div class="row">
        <hr>
    </div>


    <h2>Images uploadées</h2>

    <button class="btn btn-primary" ng-click="vm.reloadPictures()">Mettre à jour les images</button>

    <div ng-if="vm.error" class="form-error">{{vm.error}}</div>

    <div class="row" ng-repeat="picture in vm.pictures">

        <div class="col-md-2">
            <button ng-click="vm.deletePicture(picture)">Supprimer</button>
        </div>

        <div class="col-md-5">
            <img ng-src="{{picture.image.url}}" alt="" fullscreen
                 class="img-thumbnail">
        </div>

        <div class="col-md-5">
            <img ng-if="picture.imageBW" ng-src="{{picture.imageBW}}" alt="" fullscreen>
            <p ng-if="!picture.imageBW"> En cour de traitement</p>
        </div>
    </div>

</div>